<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="/" id="avatar" class="rounded-circle">
      <img src="/assets/img/avatar.png" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
    </a>
    <a class="site-title d-block" href="/">{{ site.title }}</a>
    <p class="site-subtitle fst-italic mb-0">CS-Math at Columbia</p>
  </header>
  <!-- .profile-wrapper -->
  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <li class="nav-item{% if page.layout == 'home' %} active{% endif %}">
        <a href="/" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>HOME</span>
        </a>
      </li>
      {% for tab in site.tabs %}
      <li class="nav-item{% if page.url == tab.url %} active{% endif %}">
        <a href="{{ tab.url | relative_url }}" class="nav-link">
          <i class="fa-fw {{ tab.icon | default: 'fas fa-file' }}"></i>
          <span>{{ tab.title | upcase }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
    {% unless site.theme_mode == 'light' or site.theme_mode == 'dark' %}
      {%- capture icon_system -%}
        <i class="fa-solid fa-display" data-theme-mode="system"></i>
      {%- endcapture -%}
      {%- capture icon_light -%}
        <i class="fa-regular fa-sun" data-theme-mode="light"></i>
      {%- endcapture -%}
      {%- capture icon_dark -%}
        <i class="fa-regular fa-moon" data-theme-mode="dark"></i>
      {%- endcapture -%}
      <div class="btn-group dropup d-none">
        <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle" data-bs-toggle="dropdown">
          {{- icon_light -}}
          {{- icon_dark -}}
          {{- icon_system -}}
        </button>
        <ul class="dropdown-menu rounded-3 mb-1 p-1">
          <li>
            <button class="dropdown-item d-flex align-items-center" type="button" data-theme-mode="light">
              {{- icon_light -}}
              <span>Light</span>
            </button>
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center" type="button" data-theme-mode="dark">
              {{- icon_dark -}}
              <span>Dark</span>
            </button>
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center" type="button" data-theme-mode="system">
              {{- icon_system -}}
              <span>System</span>
            </button>
          </li>
        </ul>
      </div>
      <span class="icon-border"></span>
    {% endunless %}
    <a href="javascript:void(0)" aria-label="Toggle Sheep Home" id="call-sheep-home" onclick="window.toggleSheepHome && window.toggleSheepHome()">
      <i class="fas fa-home"></i>
    </a>
    <a href="https://github.com/mehdievaltimes" aria-label="github" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/mehdisha" aria-label="linkedin" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://instagram.com/mehdievaltimes" aria-label="instagram" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</aside>