<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="/" id="avatar" class="rounded-circle">
      <img src="/assets/img/avatar.png" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
    </a>
    <a class="site-title d-block" href="/">{{ site.title }}</a>
    <p class="site-subtitle fst-italic mb-0">CS-Math at Columbia</p>
  </header>
  <!-- .profile-wrapper -->
  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <li class="nav-item{% if page.layout == 'home' %} active{% endif %}">
        <a href="/" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>HOME</span>
        </a>
      </li>
      {% for tab in site.tabs %}
      <li class="nav-item{% if page.url == tab.url %} active{% endif %}">
        <a href="{{ tab.url | relative_url }}" class="nav-link">
          <i class="fa-fw {{ tab.icon | default: 'fas fa-file' }}"></i>
          <span>{{ tab.title | upcase }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
    <a href="javascript:void(0)" aria-label="Toggle Sheep Home" id="call-sheep-home" onclick="window.toggleSheepHome && window.toggleSheepHome()">
      <i class="fas fa-home"></i>
    </a>
    <a href="https://github.com/mehdievaltimes" aria-label="github" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/mehdisha" aria-label="linkedin" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://instagram.com/mehdievaltimes" aria-label="instagram" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</aside>