<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="/" id="avatar" class="rounded-circle">
      <img src="/assets/img/avatar.png" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
    </a>
    <a class="site-title d-block" href="/">Under Revision</a>
    <p class="site-subtitle fst-italic mb-0">CS-Math at Columbia</p>
  </header>
  <!-- .profile-wrapper -->
  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <li class="nav-item active"> <a href="/" class="nav-link"> <i class="fa-fw fas fa-home"></i> <span>HOME</span> </a></li>
      <li class="nav-item"> <a href="/categories/" class="nav-link"> <i class="fa-fw fas fa-stream"></i> <span>CATEGORIES</span> </a></li>
      <li class="nav-item"> <a href="/tags/" class="nav-link"> <i class="fa-fw fas fa-tags"></i> <span>TAGS</span> </a></li>
      <li class="nav-item"> <a href="/archives/" class="nav-link"> <i class="fa-fw fas fa-archive"></i> <span>ARCHIVES</span> </a></li>
      <li class="nav-item"> <a href="/about/" class="nav-link"> <i class="fa-fw fas fa-info-circle"></i> <span>ABOUT</span> </a></li>
    </ul>
  </nav>
  <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
    <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
      <i class="fas fa-adjust"></i>
    </button>
    <span class="icon-border"></span>
    <a href="https://github.com/mehdievaltimes" aria-label="github" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i>
    </a>
    <a href="javascript:location.href = 'mailto:' + ['ms7251','columbia.edu'].join('@')" aria-label="email">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://instagram.com/mehdievaltimes" aria-label="instagram" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</aside>